.big-container{
    display: flex;
}
.small-container{
    width: 100%;
}
.sidebar{
    max-height: 90vh;
    max-width: 15vw;
}
.post-card{
    margin: 40px 80px;
}
.post-tags{
    margin: 3px;
}
.post-reactions{
    margin: 10px 0 0 0;
}
.create-post{
    width: 80%;
    margin-left: 10%;
    margin-top: 80px;
}